body {
    background: #4e4e4e;
}

.content {
    background:white;
    border-radius: 0em 0em 1em 1em;
    margin: auto;
    margin-top: 0em;
    max-width: 70em;
    min-width: 10em;
    padding: 2em;
}

.article {
    & userinfo {
        display: table-row;
        & avatar {
            display: table-cell;
            padding: 1em;
            & img {
                width: 30px;
                height: 30px;
                border: 1px solid #e8eaea;
                background: url("data:image/gif;base64,R0lGODdhAwADAKECAODj4+Hj4////////ywAAAAAAwADAAACBIxuBwUAOw==");
            }
        }
        & misc {
            vertical-align: top;
            padding: 1em;
            display: table-cell;
            & user {
                 display: block;
                font-weight: bold;
            }
            & time {
                color: #828585;
                display: block;
            }
        }
    }
}

& h1, & h2, & h1 a, & h2 a {
    color: #b9133c;
}
& h1 {
    font-size: 26px;
    line-height: 31px;
}
& h1, & h2 {
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue Bold Condensed","Roboto Bold Condensed","Arial Bold","Helvetica Bold","Liberation Sans Bold",arial,helvetica,sans-serif;
    font-weight: normal;
}

news {
    & day {
        & storylist {
            border-top: 1px solid #e8eaea;
            padding-top: 6px;
            & story {
                display: table-row;
                width: 36px;
                font: normal 0.9em arial,helvetica,"Liberation Sans","DejaVu Sans Condensed",sans-serif;
                & a:hover, a.highlightlink {
                    text-decoration: underline;
                    color: #b9133c;
                }
                & a {
                    color: #024368;
                    text-decoration: none;
                }

                & .icon {
                    display: table-cell;
                    padding: 5px;
                    vertical-align: middle;
                    border-bottom: 1px solid #e8eaea;
                    & .forum {
                        &-3, &-4, &-5, &-6
                        {
                            width: 5px;
                            height: 5px;
                            margin-top: 2px;
                        }
                        &-3 {
                            background-color: #26b913;
                        }
                        &-4 {
                            background-color: #1ab2e0;
                        }
                        &-5 {
                            background-color: #ff9925;
                        }
                        &-6 {
                            background-color: #bd1bee;
                        }
                    }
                }
                & .time {
                    display: table-cell;
                    color: #828585;
                    padding: 7px 0;
                    border-bottom: 1px solid #e8eaea;
                }
            
                & .title {
                    display: table-cell;
                    width: 100%;
                    padding-left: 6px;
                    border-bottom: 1px solid #e8eaea;
                }

                & .comments {
                    display: table-cell;
                    color: #828585;
                    text-align: end;
                    width:100%;
                    padding: 7px 0;
                    border-bottom: 1px solid #e8eaea;
                }
            }
        }
    }
}

highlights {
    display: table-row;
    & highlight {
        display: table-cell;
        width: 4em;
        height: 2em;
        margin: 4em;
    }
}

bbcode {
    font-size: 13px;
    line-height: 1.6;
    & blockquote {
        background: rgb(228, 228, 228);
        border-radius: 0.6em;
        padding: 1em;
        & userinfo{
            & user{
                font-weight: bold;
            }
        }
    }
    & img {
        max-width: 100%;
    }
}


replys {
    width: 620px;
    .body {
        border: 1px solid #dbdede;
        overflow: hidden;
        margin: 1em;
        padding: 0.5em;
        font: normal 12px arial,helvetica,"Liberation Sans","DejaVu Sans Condensed",sans-serif;
        line-height: 1.6em;
        & userinfo {
            display: table-row;
            & avatar {
                display: table-cell;
                padding: 1em;
                & img {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #e8eaea;
                    background: url("data:image/gif;base64,R0lGODdhAwADAKECAODj4+Hj4////////ywAAAAAAwADAAACBIxuBwUAOw==");
                }
            }
            & misc {
                vertical-align: top;
                padding: 1em;
                display: table-cell;
                & user {
                     display: block;
                    font-weight: bold;
                }
                & time {
                    color: #828585;
                    display: block;
                }
            }
        }
    }
}



.header {
    max-width: 70em;
    min-width: 10em;
    margin: auto;
    margin-bottom: 0em;
    padding: 2em;
    border-radius: 1em 1em 0em 0em;
    height: 3em;
    background: #b41039 ;
    background-image: -webkit-linear-gradient(#b1113a,#b60e39 68px);
    background-image: -moz-linear-gradient(#b1113a,#b60e39 68px);
    background-image: linear-gradient(#b1113a,#b60e39 68px);
}

.menu {
    
    & .row {
        display: table-row;
        & .menuitem {
            display: table-cell;
            &:hover {
            }
            & .active {
                & a {
                }
            }
            & a{
            display: block;
            }
        }
    }
}

spacer {
    border-top: 1px solid #d7dfdd;
    margin: 25px 0 19px;
}