extends news_main.pug
include mixin.pug
block content
    include news_highlights.pug
    // news items
    - var myarray = []
    - myarray = []
    -var count =  0
    news
        each itemgroup, index in subforumitems
            if subforumitems[index-1] == undefined
                if itemgroup.subforumId == subforumid
                    +grouping(itemgroup)
                        each storyitem in subforumitems
                            if storyitem.dateshort == itemgroup.dateshort && storyitem.subforumId == subforumid
                                +story(storyitem)
            else if subforumitems[index-1].dateshort != itemgroup.dateshort && itemgroup.subforumId == subforumid
                +grouping(itemgroup)
                    each storyitem in subforumitems
                        if storyitem.dateshort == itemgroup.dateshort && storyitem.subforumId == subforumid
                            +story(storyitem)