html
    head
        title Knocking tweakers
        meta
        link(rel="stylesheet", href="http://127.0.0.1:8855/less-css/news.css")
    body
        div(class="header")
        div(class="menu")
            div(class="row")
                div(class="menuitem active")
                    a(href="/") Home
                div(class="menuitem")
                    a(href="/") News
        div(class="content")
            include news_menu.pug