div(class="menu")
    div(class="row")
        if page == "home"
            div(class="menuitem active")
                a(href="/") Home
        else
            div(class="menuitem")
                a(href="/") Home
        div(class="menuitem")
            a(href="/") News