html
    head
        title Knockout News Network
        link(rel="stylesheet", href="/less-css/news.css")
        meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;")
    body
        div(class="header")
        include news_menu.pug
        div(class="content")
            block content