html
    head
        title Knocking tweakers
        link(rel="stylesheet", href="http://127.0.0.1:8855/less-css/news.css")
    body
        div(class="header")
        include news_menu.pug
        div(class="content")
            block content